<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  
  <style type="text/css">
  </style>
</head>
<body>
Step 4: Pick intensity of your trip
<br/><a href="light">Light</a>
<br/><a href="easygoing">Easygoing</a>
<br/><a href="moderate">Moderate</a>
<br/><a href="vigorous">Vigorous</a>
<br/><a href="extreme">Extreme</a>
</body>
</html>
