<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <style type="text/css">
  </style>
</head>
<body>
Step 5: Please pick your luxury level:
<br/><a href="/trip/{{city}}/{{days}}/{{theme}}/{{intensity}}/1star">$</a>
<br/><a href="/trip/{{city}}/{{days}}/{{theme}}/{{intensity}}/2star">$$</a>
<br/><a href="/trip/{{city}}/{{days}}/{{theme}}/{{intensity}}/3star">$$$</a>
<br/><a href="/trip/{{city}}/{{days}}/{{theme}}/{{intensity}}/4star">$$$$</a>
<br/><a href="/trip/{{city}}/{{days}}/{{theme}}/{{intensity}}/5star">$$$$$</a>
<br/><a href = "/wizard/{{city}}/{{days}}/{{theme}}">Previous</a>
</body
</html>
